.nav{
  display: flex;
  justify-content: center;
  position: relative;
  
  
} 

.nav h1 {
  color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  font-size: 2rem;
  
  
}

#lg {
  position:absolute;
  width: 9.5rem;
    height: 9.5rem;
    padding-top: 2rem;
    transform: scaleY(1);
    

}
#wv {
  position: relative;
  

}
.nav img {
  transform: scaleY(-1);
}
.title h1 {
  color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  font-size: 2rem;
}

.subtitle p {
  text-align: center;
  font-size: small;
  font-weight: bold;
  
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
}